pre {
  padding-left: 1rem;

  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}

code {
  font-family: "Space Mono";
}

a {
  color: var(--eau-purple);
  text-decoration: none;
  transition: all 0.5s;
  border-bottom: 0px solid var(--eau-purple);
}

a:hover {
  border-bottom: 1px solid var(--eau-purple-dark);
  color: var(--eau-purple-dark);
}

blockquote {
  padding-left: 0.5rem;
  border-left: 3px solid #a9a9a9;
  margin-left: 1rem;
}

li {
  list-style-position: inside; /* Moves the marker inside the list item */
}

table,
th,
td {
  border-collapse: collapse;
  padding: 0.25rem 0.5rem;
}

.markdown-generated-image {
  width: 30vh;
  background-size: center;
  display: flex;
  justify-self: center;
  padding-left: 4rem;
  padding-right: 4rem;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.markdown-generated-hr {
  margin: 2rem;
}

.markdownrenderer {
  transition: all 0.5s;
  line-height: 2;
}

@media screen and (max-width: 600px) {
  .markdownrenderer {
  }
}
