main {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  flex-shrink: 0;
}

.flex-container {
  overflow-y: hidden;
  height: 100dvh;
  transition: all 0.5s;
}

.hero-content {
  height: 100dvh;
  overflow-y: hidden;
}

.hero-header {
  top: 20%;
  font-size: 6rem !important;
}

.hero-content {
  display: flex;
  /* overflow-x: auto; Allows horizontal scrolling if needed */
  gap: 1rem; /* Space between items */
  flex-shrink: 0;
}

.all-articles {
  min-width: 90vw;
  height: 100dvh;
  transition: all 1s;
  overflow: wrap;
  white-space: wrap;
  scroll-snap-type: x mandatory;

  display: flex;
  overflow-x: auto;
}

.articles-list {
  margin-top: 7rem;
  margin-left: 5rem;
  display: flex;
  transition: border 0.5s;
}

.articles-list-item {
  padding: 1rem;
  scroll-snap-align: center;
  font-weight: normal;
  list-style-type: none;

  transition: all 2s;
}
.articles-list-item > h2 {
  font-size: 1.5rem;
}
.articles-list-item > p {
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .hero-p {
    font-size: 1.75rem;
  }

  .hero-author {
    font-size: 1rem;
  }

  .hero-text {
    margin-left: 2rem;
  }

  .hero-section {
    background-size: cover;
  }
  .hero-section:hover {
    cursor: pointer;
    background-size: cover;
  }
  .articles-list-item > h2 {
    font-size: 1rem;
  }
  .articles-list-item > p {
    font-size: 0.75rem;
  }
}
