* {
  transition: all 0.5s;
}

.homepage-hero {
  width: 100%;
  min-height: 100vh;
  z-index: 2;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  transition: all 0.5s;
}

.homepage-hero-content {
  margin-left: 4rem;
}

.homepage-hero-bar {
  backdrop-filter: blur(100px);
  padding: 1rem;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
}

.homepage-hero-bar > h1 {
  font-size: 1.5rem;
  width: max-content;
}

.homepage-hero-bar-socials {
  justify-self: flex-end;
  align-self: center;
}

.homepage-hero-bar-socials-icons {
  margin-left: 10px;
  margin-right: 10px;
  transition: all 1s;
}

.homepage-hero-bar-socials-icons > hover {
  cursor: pointer;
}

.homepage-hero-title {
  margin-left: 2rem;
  margin-top: 8rem;
}

.homepage-hero-title > h2 {
  font-size: 3rem;
}

.homepage-hero-title > p {
  font-size: 2rem;
}

.homepage-hero-club-about {
  padding: 1rem;
  margin: 2rem;
  margin-top: 5rem;
  border-radius: 10px;
  backdrop-filter: blur(100px);
  transition: all 0.5s;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

.homepage-hero-scroll-notifier {
  display: flex;
  justify-content: center;

  padding-bottom: 10px;
  padding-top: 1rem;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  transition: all 0.5s;
}

.location-heading {
  z-index: 1;
}

.homepage-club-aim-vision {
  margin: 0 auto; /* Centers horizontally */
  padding-left: 6rem;
  padding-right: 2rem;
  width: 100%;
  background-color: var(--eau-purple);
  color: white;
  padding-top: 4rem;
  padding-bottom: 4rem;
  box-sizing: border-box;
}

.club-activities-header {
  text-align: center;
  margin-left: 4rem;
  display: flex;
  justify-self: center;
  padding-top: 1rem;
}

.activities {
  transition: all 0.5s;
  border-top: 0px solid var(--eau-purple);
}

.activities:hover {
  border-top: 2px solid var(--eau-purple);
  padding-top: 0.5rem;
}

.club-vision {
  padding-top: 2rem;
}

.activities-grid {
  padding-left: 4.5rem;
  padding-right: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: auto;
  gap: 0.25rem;
}

.activities-icon {
  display: flex;
  justify-content: center;
  width: 100%;
  transition: all 1s;
}
.activities > h3 {
  text-align: center;
  padding: 0.5rem;
}

.activities > p {
  text-align: justify;
  padding: 0.5rem;
}

.learn-more-about-club-activities-article-call-to-action-section {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
  margin-left: 4rem;
}

.link-to-club-activities-article {
  color: black;
  padding: 1rem;
  display: flex;
  justify-self: center;
  border-radius: 20px;
  font-size: 1rem;
  border: 2px solid var(--eau-purple);
  background-color: transparent;
}

.link-to-club-activities-article:hover {
  background-color: var(--eau-purple);
  color: whitesmoke;
}

.homepage-the-union-dispatch-blurb {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 1.5rem;

  transition: all 0.5s;
}

.union-dispatch-section-content {
  margin-left: 4rem;
  margin-right: 2rem;
}

.homepage-hero-title > h3 {
  font-size: 2rem;
}

.union-dispatch-tutorial {
  margin-top: 4rem;
}

.union-dispatch-section-content {
  margin-left: 6rem;
  margin-top: 6rem;
}

.union-dispatch-section-content > h2 {
  font-size: 3.5rem;
}

.union-dispatch-tutorial > h4 {
  font-size: 2rem;
}

.union-dispatch-tutorial > p {
  font-size: 1.5rem;
}

.union-dispatch-section-content > h3 {
  font-size: 2rem;
}

.union-dispatch-section-content > p {
  font-size: 1.5rem;
}

.union-dispatch-advertiser-text {
  margin-top: 3rem;
}

.homepage-footer {
  background-color: --var(--eau-purple);
}

.homepage-footer-content {
  padding-left: 6rem;
  padding-right: 2rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.accessing-the-union-dispatch-text {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.accessing-the-union-dispatch-text-icon {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.meet-the-exec-board {
  padding-left: 5rem;
}

.meet-the-exec-board-heading {
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.exec-members {
  padding-bottom: 1rem;
  padding: 0.25rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.exec-member {
  text-align: center;
  padding-bottom: 1rem;
  width: 15rem;
  transition: all 1s;
  border: 0px solid var(--eau-purple);
}

.meet-the-exec-blurb {
  display: flex;
  justify-self: center;
  text-align: center;
  width: 80%;
  padding-bottom: 1rem;
}

.exec-member:hover {
  border-top: 2px solid var(--eau-purple);
  margin: 0.3rem;
  padding: 0.3rem;
}

.meet-the-exec-board-picture {
  width: 10rem;
  height: 10rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

@media screen and (max-width: 600px) {
  .homepage-hero-bar > h1 {
    justify-content: flex-start;
    font-size: 1.5rem;
    width: min-content;
  }

  .homepage-hero-title > h2 {
    font-size: 2rem;
  }

  .homepage-hero-title > p {
    font-size: 1.5rem;
  }

  .homepage-hero-title {
    margin-left: 2rem;
    margin-top: 4rem;
  }

  .homepage-hero-club-about {
    margin-top: 3rem;
    border-radius: 10px;
    backdrop-filter: blur(100px);
  }

  .activities-grid {
    display: block;
  }
  .union-dispatch-section-content {
    margin-left: 4.5rem;
  }

  .union-dispatch-section-content > h2 {
    font-size: 2rem;
  }

  .union-dispatch-tutorial > h4 {
    font-size: 1.5rem;
  }

  .union-dispatch-tutorial > p {
    font-size: 1rem;
  }

  .union-dispatch-section-content > h3 {
    font-size: 1.75rem;
  }

  .union-dispatch-section-content > p {
    font-size: 1rem;
  }

  .footer-contact-us {
    margin-top: 2rem;
  }
  .exec-member {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    padding-right: 1.5rem;

    width: auto;
  }
  .meet-the-exec-blurb {
    margin: 0 auto;
    width: auto;
    padding-right: 2rem;
  }
}
