nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 4rem;
  height: 100dvh;
  /* background-color: var(--surface); */

  display: flex;
  flex-direction: column;
  gap: 4px;
  backdrop-filter: blur(100px);
  z-index: 3;
  transition: all 0.5s;
  overflow: hidden;
}

nav > .icons {
  padding: 1rem;
  transition: all 0.2s;
}

nav > .icons:hover {
  background-color: var(--highlighted-light);
  cursor: pointer;
}
