@font-face {
  font-family: "Glacial Interdifference";
  src: url("fonts/GlacialIndifference-Bold.otf");
}

* {
  padding: 0;
  margin: 0;
  font-family: "Glacial Interdifference";
}

:root {
  /* CSS HEX */
  --eerie-black: #1f1f1fff;
  --caribbean-current: #3c6e71ff;
  --surface: #f5f5f5ff;
  --highlighted: #d9d9d9ff;
  --carmine: #9a031eff;

  background-color: white;
  scroll-behavior: smooth;
}

/* :root {
  --eerie-black: #1f1f1fff;
  --caribbean-current: #3c6e71ff;
  --surface: #2e2e2e;
  --highlighted: #d9d9d9ff;
  --carmine: #9a031eff;

  background-color: black;
} */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 4rem;
  height: 100dvh;
  /* background-color: var(--surface); */

  display: flex;
  flex-direction: column;
  gap: 4px;
  backdrop-filter: blur(1000px);
  z-index: 2;
  transition: all 0.5s;
  overflow: hidden;
}

nav > .icons {
  padding: 1rem;
  transition: all 0.2s;
}

nav > .icons:hover {
  background-color: var(--highlighted-light);
  cursor: pointer;
}

main {
  display: flex;
  overflow-x: auto; /* Allows horizontal scrolling if needed */
  gap: 1rem; /* Space between items */
  flex-shrink: 0;
}

.hero-section {
  min-width: 90vw;
  height: 98.1dvh;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 1s;
  overflow: hidden;
  scroll-snap-type: x mandatory;
}

.hero-section:hover {
  cursor: pointer;
}

.hero-text {
  position: relative;
  top: 58%;
  left: 3rem;
  color: var(--surface);
  margin-left: 4rem;
  z-index: 1;
}

.hero-link {
  font-size: 1rem;
}

.hero-header {
  top: 20%;
  font-size: 6rem;
}

.hero-p {
  font-size: 3rem;
  margin-top: 10px;
}

.hero-author {
  font-size: 2rem;
  margin-top: 10px;
}

.hero-content {
  display: flex;
  overflow-x: auto; /* Allows horizontal scrolling if needed */
  gap: 1rem; /* Space between items */
  flex-shrink: 0;
}

.location-heading {
  position: fixed;
  padding: 1rem;
  font-size: 0.75rem;
  backdrop-filter: blur(1000px);
  color: whitesmoke;
  font-weight: bold;
  left: 6rem;
  top: 20px;
}

@media only screen and (max-width: 600px) {
  .hero-content {
    gap: 0.5rem;
  }
  .hero-section {
    min-width: 96vw;
    height: 100vh;
  }
  .hero-text {
    overflow: visible;
  }
}

.all-articles {
  min-width: 90vw;
  height: 98.1dvh;
  transition: all 1s;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  background-color: #f0f0f0;
  color: var(--eerie-black);
}

.articles-list {
  margin-top: 8rem;
  margin-left: 5rem;
}

.articles-list-item {
  padding: 1rem;
}
