.error-page-content {
  text-align: center;
  height: 70vh;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

.error-page-content > div > h1 {
  padding-top: 1.5rem;
}
